<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="default.css">
</head>
<body>
    <div class="menu">
        <div class="head">
            <h3 class="header">
                Welcome To NILI!
                <button>Log Out</button>
            </h3>
            
        </div>
        <div class="chatlist">
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
            <a class="chats" href="">
                <img src="C:\Users\nima2\Downloads\Pictures\1267242.jpg">
                <p class="name" href="">Name</p>
            </a>
        </div>
    </div>

    <div class="chat">
        
    </div>
</body>
</html>