*{
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html , body{
    height: 100%;
    background-color: #744aff;
}
a{
    text-decoration: none;
    color: #8888f1;
}
.menu{
    text-decoration: none;
    width: 50%;
    height: 100%;
    background-color: #8888f1;
    overflow: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px){
    .menu{
        width: 100%;
    }
}

.header {
    background-color: #21203e;
    color:#8888f1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    display: inline;
}
.chats{
    background-color: #17172b;
    color:#8888f1;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.chats:hover{
    background-color: #2d2c55;
}

.menu .name{
    background-color: transparent;
    text-decoration: none;
    color: #8888f1;
    display: inline;
}

.chatlist{
    background-color:#8888f1
}

button{
    padding: 10px;
    color: #8883f8;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-weight: bold;
}

button:hover{
    color: #b40f0f;
    background-color: #17172b;
    transition-duration: 0.5s;
} 
::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.nameandlastmassage{
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.lastmassage{
    display: inline;
    align-self: baseline;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.sendername{
    width: max-content;
}
.lastmassageandsender{
    align-items: center;
    display: flex;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
}
.firend{
    scale: 0;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.group{
    scale: 0;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.unread{
    margin: 5px;
    margin-top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8883f8;
}
.group:hover,.firend:hover{
    color: #a8a8f2;
}
.hambergur{
    transform: rotate(45deg);
    display: grid;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #21203e;
    border-radius: 50%;
    padding: 3px;
    cursor:pointer;
    transition: 0.5s;
}
#hambergur-toggle{
    scale: 0;
}
#hambergur-toggle:checked ~ .group{
    scale:1;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 100px;
    left: 15px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#hambergur-toggle:checked ~ .firend{
    scale: 1;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 55px;
    left: 15px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#hambergur-toggle:checked ~ .hambergur{
    transform: rotate(0);
}
#hambergur-toggle:checked{
    all: unset;
  }
.cross{
    color: #8883f8;
    padding: 0 5px 1px 5px;
}
.last-mag-box{
    display: flex;
}