*{
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
}

body{
    background-color: #151525;
}

form{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px #8983f836;
    padding: 50px 35px;
}
form *{
    color: #8883f8;
    outline: none;
    border: none;
    text-align: center;
}
h1{
    margin-bottom: 30px;
}
label{
    margin-top: 10px;
    display: block;
}
input{
    height: 50px;
    width: 100%;
    background-color: #8983f836;
    border-radius: 10px;
    margin-top: 8px;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    display: block;
    background-color: #8883f8;
    color: #080710;
    padding: 15px 0;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

a{
    text-decoration: none;
    transition-duration: 0.1s;
}

button:hover{
    background-color: #121120;
    color: #8883f8;
    transition-duration: 0.5s;
}

a:hover{
    font-size: large;
    transition-duration: 0.1s;
}


ul{
    border: 1px solid #a94442;
    border-radius: 10px;
    background-color: #f2dede;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
}
li{
    color: #a94442;
}
.searchbox{
    display: flex;
}
.searchbox input{
    margin-top: 0;
}
.searchbox button{
    width: 20%;
    margin: 0;
}
.search{
    text-align: left;
}
.chats{
    border-radius: 10px;
    background-color: #17172b;
    color:#8888f1;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
}
.chats img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    display: inline;
}
.chats:hover{
    font-size: medium;
}
.chats button{
    margin-top: 0;
    margin-bottom: 0;
    width: 100px;
    display: block;
    background-color: #8883f8;
    color: #080710;
    padding: 15px 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}