*{
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html , body{
    height: 100%;
    background-color: #744aff;
}

.all{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;

}
a{
    text-decoration: none;
    color: #8888f1;
    cursor: pointer;
}
.menu{
    text-decoration: none;
    height: 100%;
    background-color: #8888f1;
    overflow: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px){
    .all{
        grid-template-columns: 0% 100%;
    }
    .msgbox{
        width: 100% !important;
    }
    .firend{
        scale: 0;
    }
    .group{
        scale: 0;
    }
    .hambergur{
        scale: 0;
    }
    .head{
        width: 100% !important;
    }
}

.header {
    background-color: #21203e;
    color:#8888f1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat  .header{
    background-color: #17172b;
}
.chats img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    display: inline;
}
.chats{
    background-color: #17172b;
    color:#8888f1;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.chats:hover{
    background-color: #2d2c55;
}

.menu .name{
    background-color: transparent;
    text-decoration: none;
    color: #8888f1;
    display: inline;
}

.chatlist{
    background-color:#8888f1;
    margin-top: 55px;
}

button{
    padding: 10px;
    color: #8883f8;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-weight: bold;
}

button:hover{
    color: #b40f0f;
    background-color: #17172b;
    transition-duration: 0.5s;
} 

.chat{
    text-decoration: none;
    height: 83.5%;
    overflow: auto;
    margin-top: 80px;
}

.massage{
    color: #8888f1;
    margin: 5px;
    padding: 5px;
    width: max-content;
    max-width: 80%;
    border-radius: 5px;
    background-color: #28274b;
    text-overflow:ellipsis;
    word-break: break-all;
}
.self{
    background-color: #1b1b33;
    /* position: absolute;
    right: 20px; */
    margin-left: auto;
    /* max-width: 40%; */
    display: flex;
}
::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #f5f5f5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
textarea{
    width: 95%;
    background-color: #8888f1;
    border-radius: 10px;
    max-height: 100px;
    height: fit-content;
}
.msgbox{
    position:fixed;
    bottom: 0;
    width: 50%;
    justify-content: space-between ;
    align-items: center;
    display: flex;
    background-color: #17172b;
}
.send{
    padding-right: 5px;
    padding: 10px;
    color: #8883f8;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-weight: bold;
}
.group:hover,.firend:hover,.send:hover{
    color: #a8a8f2;
}
textarea:focus{
    outline: none;
}
.nameandlastmassage{
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.lastmassage{
    display: inline;
    align-self: baseline;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.sendername{
    width: max-content;
}
.lastmassageandsender{
    display: flex;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 92%;
}
.unread{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8883f8;
}
.delete-btn{
    color: cadetblue;
    padding: 0;
    font-weight: normal;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    scale: 0.8;
    transition-duration: 0.5s;
}
.delete-btn:hover{
    color: #b40f0f;
}
.delete{
    display: inline;
}
.groups{
    align-items: center;
    border-radius: 10px;
    transition-duration: 0.5s;
    width: MAX-CONTENT;
}
.user-img{
    width: 20px !important;
    height: 20px !important;
    margin: 0 !important;
}
.massage .name{
    margin: 1px;
    font-size: small;
    display: inline;
}
.firend{
    scale: 0;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.group{
    scale: 0;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.unread{
    margin: 5px;
    margin-top: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #8883f8;
}
.group:hover,.firend:hover{
    color: #a8a8f2;
}
.hambergur .bar {
  display: inline-block;
  width: 21px;
  height: 3px;
  background-color: #8888f1;
  position: relative;
  transition: 0.5s;
  margin-left: 5px;
}
.hambergur{
    transform: rotate(45deg);
    display: grid;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #21203e;
    border-radius: 50%;
    padding: 3px;
    cursor:pointer;
    transition: 0.5s;
}
#hambergur-toggle{
    scale: 0;
}
#hambergur-toggle:checked ~ .group{
    scale:1;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 100px;
    left: 15px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#hambergur-toggle:checked ~ .firend{
    scale: 1;
    background-color:#28274b;
    border-radius: 15px;
    font-weight: normal;
    position:fixed;
    bottom: 55px;
    left: 15px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#hambergur-toggle:checked ~ .hambergur{
    transform: rotate(0);
}
#hambergur-toggle:checked{
    all: unset;
  }
  a#prf{
    border-radius: 10px;
  }
  .cross{
    color: #8883f8;
    padding: 0 5px 1px 5px;
}
.last-mag-box{
    display: flex;
    justify-content: space-between;
}
.head{
    position:fixed;
    top: 0;
    width: 50%;
}