*{
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html , body{
    height: 100%;
    background-color: #744aff;
}

.all{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;

}
a{
    text-decoration: none;
    color: #8888f1;
    cursor: pointer;
}
.menu{
    text-decoration: none;
    height: 100%;
    background-color: #8888f1;
    overflow: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px){
    .all{
        grid-template-columns: 0% 100%;
    }
    .msgbox{
        width: 100% !important;
    }
}

.header {
    background-color: #21203e;
    color:#8888f1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat  .header{
    background-color: #17172b;
}
.chats img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    display: inline;
}
.chats{
    background-color: #17172b;
    color:#8888f1;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.chats:hover{
    background-color: #28274b;
}

.menu .name{
    background-color: transparent;
    text-decoration: none;
    color: #8888f1;
    display: inline;
}

.chatlist{
    background-color:#8888f1
}

button{
    padding: 10px;
    color: #8883f8;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-weight: bold;
}

button:hover{
    color: #b40f0f;
    background-color: #17172b;
    transition-duration: 0.5s;
} 

.chat{
    text-decoration: none;
    height: 95%;
    overflow: auto;
}

.massage{
    color: #8888f1;
    margin: 5px;
    padding: 5px;
    width: max-content;
    max-width: 80%;
    border-radius: 5px;
    background-color: #28274b;
    text-overflow:ellipsis;
    word-break: break-all;
}
.self{
    background-color: #17172b;
    /* position: absolute;
    right: 20px; */
    margin-left: auto;
    /* max-width: 40%; */
}
::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #f5f5f5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
textarea{
    width: 90%;
    background-color: #8888f1;
    border-radius: 10px;
    max-height: 100px;
    height: fit-content;
}
.msgbox{
    position:fixed;
    bottom: 0;
    width: 50%;
    justify-content: space-between ;
    align-items: center;
    display: flex;
    background-color: #17172b;
}
.send{
    padding-right: 5px;
    padding: 10px;
    color: #8883f8;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-weight: bold;
}
textarea:focus{
    outline: none;
}
.nameandlastmassage{
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.lastmassage{
    display: inline;
    align-self: baseline;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.sendername{
    width: max-content;
}
.lastmassageandsender{
    display: flex;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}